<html>
<head>
    <title>
        URL Shortner
    </title>
    <style>
        table {
            margin: auto;
        }
    </style>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>alert("{{ message }}")</script> {% endif %}
    {% endfor %}
    {% endif %}
    <div style="text-align: center;">
        <a href="urlcreated" style="font-size: 25px; ">View short Urls</a>
    </div>
    
    <h1 align="center">URL Shortner</h1>
    <form action="createshorturl" method="POST">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td><label>URL</label></td>
                    <td><input type="text" name="url"></td>
                </tr>
                <tr>
                    <td><button>Submit</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>